<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="(fill in server ip address)"/>
		<add key="Database" value="(fill in database name)"/>
		<add key="Login" value="(fill in login name)"/>
		<add key="Password" value="(fill in login password)"/>
	</appSettings>
</configuration>